name: CI

on:
  push:
    branches: '*'
    paths-ignore:
      - '*.md'
  pull_request:
    branches: main
    paths-ignore:
      - '*.md'
  schedule:
      # schedule a regular Sunday Mass to check that
      # everything still works
      - cron: '30 12 * * 0'

jobs:
  default:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
        node-version: ['18.17', 24]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: Link the package
        run: npm link
      - name: Loop
        run: |
          while npx mocha; do
            cd example
            npm install --ignore-scripts
            npm link nobind17
            npx node-gyp configure build --debug
            if ! node -p "require('./lib/hello.node').hello('Garga')"; then
              exit 1
            fi
            if ! npx tsx hello.ts; then
              exit 1
            fi
          done
        shell: bash
        env:
          ENABLE_DEBUG: 1
          NOBIND_DEBUG_STORE: 1
          NOBIND_DEBUG_OBJECT: 1
