name: QA

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Package version to test'
        required: true

jobs:
  unit-tests:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
          - windows-2025
          - macos-14
          - macos-15
          - macos-15-intel
        node-version: ['18.17', 18, 20, 22, 24, 25]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          cd example
          npm install nobind17@${{ github.event.inputs.version }}
          npm install node-gyp
          cp node_modules/node-addon-api/except.gypi .
          npx node-gyp configure build
          node -p "require('./build/Release/hello.node').hello('Garga')"
        shell: bash
