name: CI

on:
  push:
    branches: '*'
    paths-ignore:
      - '*.md'
  pull_request:
    branches: main
    paths-ignore:
      - '*.md'
  schedule:
      # schedule a regular Sunday Mass to check that
      # everything still works
      - cron: '30 12 * * 0'

jobs:
  default:
    runs-on: ${{ matrix.platform }}

    strategy:
      matrix:
        platform:
          - macos-latest
        node-version: ['18.17', 24]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: Link the package
        run: |
          npm link
          cd example
          npm install --no-scripts
          npm link nobind17
          npx node-gyp configure build -v
        env:
          CXXFLAGS: -DNOBIND_NO_ASYNC_LOCKING -DNOBIND_NO_OBJECT_STORE -DNOBIND_NO_TYPESCRIPT_GENERATOR -DNOBIND_NO_BASIC_FINALIZERS
      - name: Loop
        run: |
          while true; do
            if ! node -p "require('./example/lib/hello.node').hello('Garga')"; then
            exit 1
            fi
          done
        shell: bash
        env:
          NOBIND_DEBUG_INIT: 1
