name: CI

on:
  push:
    branches: '*'
    paths-ignore:
      - '*.md'
  pull_request:
    branches: main
    paths-ignore:
      - '*.md'
  schedule:
      # schedule a regular Sunday Mass to check that
      # everything still works
      - cron: '30 12 * * 0'

jobs:
  default:
    runs-on: ${{ matrix.platform }}

    strategy:
      matrix:
        platform:
          - macos-latest
        node-version: ['18.17', 24]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: Link the package
        run: |
          npm link
          cd example
          npm install --no-scripts
          npm link nobind17
          npx node-gyp configure build
      - name: Loop
        run: |
          ulimit -c
          ulimit -c unlimited
          ulimit -
          which node
          file $(which node)
          cp $(which node) node
          /usr/libexec/PlistBuddy -c "Add :com.apeple.security.get-task-allow bool true" tmp.entitlements
          codesign -s - -f --entitlements tmp.entitlements ./node
          chmod 755 ./node
          sudo chmod 1777 /cores
          ls -al /cores
          touch /cores/test
          ls -al /cores
          sysctl kern.coredump
          sudo sysctl kern.coredump=1
          sysctl kern.coredump
          while sudo ./node -p "require('./example/lib/hello.node').hello('Garga')"; do
            true
          done
          ls -al /cores
          sudo chmod -R +rwx /cores/*
        shell: bash
        env:
          NOBIND_DEBUG_LOCK: 1
          CXXFLAGS: -DNOBIND_NO_OBJECT_STORE -DNOBIND_NO_TYPESCRIPT_GENERATOR -DNOBIND_NO_BASIC_FINALIZERS

      - uses: actions/upload-artifact@v5
        with:
          name: coredump
          path: /cores

      - uses: actions/upload-artifact@v5
        with:
          name: binary
          path: example
