name: QA

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Package version to test'
        required: true

jobs:
  unit-tests:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
          - windows-2025
          - macos-14
          - macos-15
          - macos-15-intel
        node-version: ['18.17', 18, 20, 22, 24, 25]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check the examples
        run: |
          cd example
          set -e && for EXAMPLE in handle-struct-with-plain-ptr	hello-world handle-struct	handle-struct-with-smart-ptr; do
            (
              set -e
              cd $EXAMPLE
              npm install --ignore-scripts
              npm install nobind17@${{ github.event.inputs.version }}
              npx node-gyp configure build --debug
              node -p "(new (require('./lib/example.node').Hello)('Garga')).greet()"
              npx node-gyp configure build
              node -p "(new (require('./lib/example.node').Hello)('Garga')).greet()"
              npx tsx example.ts
            )
          done
        shell: bash
